<div *ngIf="users">
  <h2>Users</h2>
  <table class="dark-mode">
    <thead>
      <tr>
        <th style="text-align: center;">ID</th>
        <th style="text-align: center;">Email</th>
        <th style="text-align: center;">First Name</th>
        <th style="text-align: center;">Last Name</th>
        <th style="text-align: center;">Address</th>
        <th style="text-align: center;">Phone Number</th>
        <th style="text-align: center;">Roles</th>
      </tr>
    </thead>
    <tbody class="dark-mode">
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>
          <ul>
            <li *ngFor="let role of user.roles">{{ role }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
