<form (ngSubmit)="onSubmit()" #leaveForm="ngForm">
 <!--  <div class="form-group">
    <label for="userId">User</label>
    <select class="form-control" id="userId" [(ngModel)]="selectedUserId" name="userId" required>
      <option *ngFor="let user of users" [value]="user.id">{{ user.email }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" [(ngModel)]="firstName" name="firstName" required>
  </div> -->
  <div class="form-group">
    <label for="startDate">Start Date</label>
    <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate" name="startDate" required>
  </div>
  <div class="form-group">
    <label for="endDate">End Date</label>
    <input type="date" class="form-control" id="endDate" [(ngModel)]="endDate" name="endDate" required>
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <select class="form-control" id="type" [(ngModel)]="type" name="type" required>
      <option value="Vacation">Vacation</option>
      <option value="Sick">Sick</option>
      <option value="Personal">Personal</option>
    </select>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea class="form-control" id="comment" [(ngModel)]="comment" name="comment"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
