<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Type</th>
      <th>Comment</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let leave of leaves">
      <td>{{ leave.id }}</td>
      <td>{{ leave.startDate }}</td>
      <td>{{ leave.endDate }}</td>
      <td>{{ leave.type }}</td>
      <td>{{ leave.comment }}</td>
      <td>{{ leave.user}}</td>
    </tr>
    <tr *ngIf="leaves.length === 0">
      <td colspan="6">No leaves found.</td>
    </tr>
  </tbody>
</table>


